/* CSS untuk mengubah tampilan input pencarian */
.pac-container {
  font-family: 'Roboto', 'Arial', sans-serif;
  &.pac-logo {
    // background: none;
  }
  &::after { display: none; }
  .pac-input {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    padding: 0.5em 1em;
    text-overflow: ellipsis;
    width: 100%;
  }
  .pac-item {
    padding: 0.5em 1em;
  }
  .pac-item-query {
    font-weight: bold;
  }
  .pac-icon {
    // background-image: none;
    // display: none;
  }
}