// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Adogtion variables
$base-color: #BD1A8D;

// Variables
@import 'variables';
@import 'auth';
@import 'footer';
@import 'straydog';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons';
@import '~select2/dist/css/select2.css';
@import '~select2-bootstrap-5-theme/dist/select2-bootstrap-5-theme.css';
@import '~sweetalert2/src/sweetalert2.scss';
@import "~toastify-js/src/toastify.css";
@import 'google_map';

// Controllers
@import 'vets';


.color-mp { color: $base-color; }

a {
  color: black;
  text-decoration: none;
  &:hover {
    color: black;
  }
  &.with-link {
    color: #0d6efd;
    text-decoration: underline;
    &:hover {
      color: black;
      color: #0d6efd;
    }
  }
}

main { min-height: 100vh; }

.bar{
  color: white;
  margin:auto;
  display: block;
  width: fit-content;
  border-radius: 4px;;
  padding: 8px;
  &.green{
    background-color:green;
  }
  &.red{
  background-color:red ;
  }
  &.purple{
    background-color: #BD1A8D;
  }
}


//img preview
// .preview-item {
//   display: inline-block;
//   text-align: center;
//   margin-right: 10px;
//   padding: 4px 4px;
//   position: relative;

//   .imageThumb {
//     max-height: 100px;
//     width: auto;
//   }

//   .remove-icon {
//     cursor: pointer;
//     position: relative;

//     &:hover::after {
//       content: "Remove"; /* Add the tooltip text directly */
//       position: absolute;
//       top: 100%; /* Show the tooltip below the .remove-icon */
//       left: 50%;
//       transform: translateX(-50%);
//       display: block;
//       background-color: rgba(0, 0, 0, 0.8);
//       color: #fff;
//       padding: 4px 8px;
//       font-size: 12px;
//       border-radius: 4px;
//       white-space: nowrap;
//     }
//   }
// }




.adogtion-navbar {
  background-color: $base-color;
  color: white;
}

.navbar-nav { gap: 10px; }
.nav-item {
  .nav-link {
    height: 100%;
    color: white;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    position: relative;
    padding-bottom: 5px;
    transition: all 0.3s ease-in-out;
    i { font-size: 20px; }
    img { height: 20px; }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 2px;
      background-color: white;
      transition: width 0.3s ease-in-out;
    }
    &.active {
      border-bottom: 2px solid white;
      &:hover::before {
        width: 0%;
      }
    }
    &:hover::before {
      width: 100%;
    }
  }
}

.dashboard-nodata-card {
  &:hover {
    background-color: darken($color: white, $amount: 10);
  }
  .card-body {
    min-height: 250px;
  }
}

.btn-custom-submit {
  background-color: $base-color;
  color: white;
  &:hover {
    background-color: darken($color: $base-color, $amount: 2);
    color: white
  }
  &:active {
    border-color: $base-color !important;
    color: $base-color !important;
  }
}

.dog-list {
  .dog-picture {
    height: 150px;
    overflow: hidden;
    position: relative;
    img {
      height: inherit;
      width: 100%;
      position: absolute;
      object-fit: cover;
    }
  }
}

.dog-show {
  .dog-picture {
    height: 450px;
    overflow: hidden;
    position: relative;
    img {
      height: inherit;
      width: 100%;
      position: absolute;
      object-fit: cover;
    }
  }
}

.dtl-icon {
  font-size: 1.8rem;
  height: 1.8rem;
}

.select2-container--bootstrap-5 .select2-selection {
  background-color: unset !important;
}