// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons';

// Adogtion variables
$base-color: #BD1A8D;

.adogtion-navbar {
  background-color: $base-color;
  color: white;
}