body.auth-layout {
  background-color: #BD1A8D;
}

section#auth-section {
  color: white;
}
section#auth-section a {
  color: white !important;
}
section#auth-section .container {
  width: 100vw;
  min-height: 100vh;
}
section#auth-section .container .row {
  height: 100%;
}
section#auth-section .auth-form {
  padding: 0 100px;
}

.invalid-feedback {
  color: white !important;
}

.btn-auth-submit {
  color: #BD1A8D !important;
  font-weight: bold !important;
  width: 100%;
}

@media (max-width: 575.98px) {
  .auth-form {
    padding: 0 20px !important;
  }
}